<nav class="sidebar">
  <img src="/src/assets/images/logo.png" alt="Logo" class="logo"/>
  
  <ul>
    <li>
      <p class="icone">🏠</p>
      <a routerLink="/etudiant-page-accueil" 
        routerLinkActive="active">Accueil</a>

    </li>
    <li>
      <p class="icone">📊</p>
      <a routerLink="/etudiant-page-dashboard" 
         routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <p class="icone">⚙️</p>
      <a routerLink="/etudiant-page-configuration" 
         routerLinkActive="active">Configuration</a>
    </li>
    <li>
      <p class="icone">📝</p>
      <a routerLink="/etudiant-page-reclamation" 
         routerLinkActive="active">Reclamation</a>
    </li>
    <li class="exit">
      <p class="icone">⬅️</p>
      <a href="#">Exit</a>
    </li>
  </ul>
</nav>