<nav class="sidebar">

  <img src="../../assets/logo.png" alt="Logo" class="logo"/>
  
  <ul>
    <li class="menu-item">
      <img src="../../assets/acceuil.png" alt="acceuil" class="icone">
      <a routerLink="/etudiant-page-accueil" 
        routerLinkActive="active">Accueil</a>

    </li>
    <li class="menu-item">
      <img src="../../assets/dash.png" alt="acceuil" class="icone">
      <a routerLink="/etudiant-page-dashboard" 
         routerLinkActive="active">Dashboard</a>
    </li>
    <li class="menu-item">
      <img src="../../assets/conf.png" alt="acceuil" class="icone">
      <a routerLink="/etudiant-page-configuration" 
         routerLinkActive="active">Configuration</a>
    </li>
    <li class="menu-item">
      <img src="../../assets/reclam.png" alt="acceuil" class="icone">
      <a routerLink="/etudiant-page-reclamation" 
         routerLinkActive="active">Reclamation</a>
    </li>
  </ul>
    <div class="exit">
      <img src="../../assets/exit.png" alt="exit" class="icon-exit">
     
      <a href="#">Exit</a>
    </div>
</nav>