.content {
  margin-top: -160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  background: #f8f8f8;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 15px;
  color: #398F96;
  font-weight: 500;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to right, #398F96, #5AB8AA);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(to right, #5AB8AA, #398F96);
}



.custom-alert {
  padding: 12px 20px;
  
  margin-left: 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border-left: 6px solid #28a745;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-left: 6px solid #dc3545;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.title {
  color: #2c3e50;
  margin-left: 25px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  display: inline-block; 
  width: 95%;
}