<div class="notes-container">
    <h2 class="title">Suivie
       des notes</h2>
    
    <!-- Filtres -->
    <div class="filters">
      <select [(ngModel)]="selectedSection" class="dropdown" (change)="onSectionChange($event)" [disabled]="isProcessing">
        <option value="" disabled selected>Section</option>
        <option *ngFor="let section of sections" [value]="section.idSection">{{ section.nomSection }}</option>
      </select>
      <select [(ngModel)]="selectedSemestre" class="dropdown" (change)="onSemestreChange($event)"   [disabled]="isProcessing">
        <option value="" disabled selected>Semestre</option>
        <option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</option>
      </select>

  
     
    </div>
  <table class="notes-table">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let module of modules">
        <tr *ngFor="let matiere of module.matieres; let first = first" [class.ue-row]="first">
          
          <td *ngIf="first" [attr.rowspan]="module.matieres.length">{{ module.nomModule }}</td>
          <td *ngIf="first" [attr.rowspan]="module.matieres.length">{{ module.coefModule }}</td>
          
          <td>{{ matiere.nomMatiere }}</td>
          <td>{{ matiere.coefMatiere }}</td>
          <td>{{ matiere.ponderation || '-' }}</td>
          <td>{{ matiere.cc || '-' }}</td>
          <td>{{ matiere.exam || '-' }}</td>
          <td>{{ matiere.moyenne || '-' }}</td>
          <td></td>
          <td>{{ matiere.etat || '-' }}</td>
          <td class="action-cell">
            <button class="download-btn" (click)="handleDownload(matiere.lienCopie)">
              <i class="download-icon">↓</i> Télécharger
            </button>
            <button class="reclamation-btn" (click)="handleReclamation(matiere.idMatiere)">
              <i class="reclamation-icon">!</i> Réclamation
            </button>
          </td>
          
        </tr>
      </ng-container>
      
    </tbody>
  </table>
</div>