<header>
  <h2 class="Bienvenue">Bienvenue <strong>Oumaima Chely</strong> 👋</h2>
  <div class="icons">
      <i class="bell-icon">🔔</i>
      <i class="search-icon">🔍</i>
      <!--img src="../images/icone.png" alt="User" class="user-avatar" (click)="toggleMenu()" /-->
      <i class="fa-solid fa-user" style="size: 20px;" (click)="toggleMenu()"></i>
  </div>
</header>

<div class="user-menu" *ngIf="isMenuOpen">
  <p><i class="user-icon">🧑</i>Ameni zakraoui </p>
  <p><i class="card-icon">💳</i> 01######</p>
  <p><i class="code-icon">💻</i> Génie Informatique</p>
</div>
