<div class="student-list-container"> 

  <div >
    <h2 class="title">Liste des étudiants</h2>
  </div>
  <div class="choix">
    <label>
      <input type="radio" [(ngModel)]="action" value="ajouter" /> Ajouter une liste des étudiants
    </label>
    <label>
      <input type="radio" [(ngModel)]="action" value="consulter" /> Consulter la liste des étudiants
    </label>
  </div>
<div>
  <select [(ngModel)]="selectedSection" class="dropdown">
    <option value="" disabled selected>Section</option>
    <option *ngFor="let section of sections" [value]="section.idSection">{{ section.nomSection}}</option>
  </select>
  <select [(ngModel)]="selectedSemestre" class="dropdown">
    <option value="" disabled selected>Niveau</option>
    <option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</option>
  </select>
  <button   *ngIf="action === 'consulter'" class="validate-button"  (click)="listStudent()">Consulter</button> 
  <input
  *ngIf="action === 'ajouter'"
    type="file"
    accept="application/pdf"
    (change)="onFileSelected($event)"
    class="file-input"
    id="fileInput"
  />
  
</div>
<div *ngIf="successMessage" class="message success-message">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="message error-message">
  {{ errorMessage }}
</div>
<table>
  <thead>
    <tr>
      <th>CIN</th>
      <th>Nom</th>
      <th  *ngIf="action === 'ajouter'">Prénom</th>
      <th>Email</th>
      <th>Mot de passe</th>
    </tr>
  </thead>
  <tbody>
    <!-- Si action est égal à "ajouter", on affiche les données sous forme d'index -->
    <ng-container *ngIf="action === 'ajouter' && etudiants.length > 0">
      <tr *ngFor="let etudiant of etudiants">
        <td>{{ etudiant[0] }}</td>
        <td>{{ etudiant[1] }}</td>
        <td>{{ etudiant[2] }}</td>
        <td>{{ etudiant[3] }}</td>
        <td>{{ etudiant[4] }}</td>
      </tr>
    </ng-container>
  
    <!-- Sinon, on affiche les données sous forme d'objet -->
    <ng-container *ngIf="action !== 'ajouter' && etudiants.length > 0; else noStudents">
      <tr *ngFor="let etudiant of etudiants">
        <td>{{ etudiant.cin }}</td>
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.email }}</td>
        <td>{{ etudiant.motDePasse }}</td>
      </tr>
    </ng-container>
    
    <!-- Template pour afficher un message si aucun étudiant n'est trouvé dans la deuxième condition -->
    <ng-template #noStudents>
      <tr  *ngIf="action !== 'ajouter'">
        <td colspan="4">Aucun étudiant trouvé.</td>
      </tr>
    </ng-template>
  </tbody>
  
</table>

<button *ngIf="action !== 'consulter'" class="add-button" [disabled]="etudiants.length === 0" (click)="addStudentsToDB()">Ajouter</button>


