.student-list-container {
  padding: 20px;
<<<<<<< HEAD
=======
  background: white;
  border-radius: 10px;
>>>>>>> origin/ouma
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-size: 24px;
    font-weight: bold;
<<<<<<< HEAD
  }

  .hidden-file-input {
    display: none;
  }

  .download-btn {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .download-btn:hover {
    background-color: #0d8bf2;
  }
=======
    color: darkcyan;
  }

 

  
>>>>>>> origin/ouma
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
  }
}

.delete-btn {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #ff1a1f;
}
<<<<<<< HEAD
=======
/* Styling for the select element */
.dropdown {
  background-color: #f9f9f9; /* Light grey background */
  border: 2px solid darkcyan; /* Dark cyan border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for better spacing */
  font-size: 14px; /* Font size for readability */
  color: #333; /* Text color */
  width: 130px; /* Set width */
  margin: 15px;
 
  cursor: pointer; /* Pointer cursor for interaction */
  transition: all 0.3s ease; /* Smooth transition for focus and hover effects */
}

.validate-button {
  background-color: darkcyan;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
}

.validate-button:hover {
  background-color: darkgreen;
}
.choix
{
  margin: 15px;
}
.file-input {
  text-decoration: none;
}
.add-button {
  background-color: darkcyan;
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 1110px;
  margin-top: 15px;
  cursor: pointer;
}
>>>>>>> origin/ouma
