.card {
    width: 300px;
<<<<<<< HEAD
    height: 200px;
    margin-left: 120px;

    padding: 20px;
    background-color: #DBE2EF;
=======
    height: 90px;
    margin-left: 90px;

    padding: 10px;
    background-color: #ffffff;
>>>>>>> origin/ouma
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
<<<<<<< HEAD
  .card .icon {
    font-size: 70px;
    color: #3F72AF;
=======
   i {
 
    color: darkcyan;
>>>>>>> origin/ouma
  }
  

  .titre{
<<<<<<< HEAD
    font-size:x-large;
=======
    font-size:large;
>>>>>>> origin/ouma
    color: #112D4E;
    margin-top: 10px;

  }

  .nombre{
<<<<<<< HEAD
    font-size:xx-large;
=======
    font-size:x-large;
>>>>>>> origin/ouma
    font-weight: bold;
    margin-top: 5px;
  }
  