.dashboard-container {
    display: flex;
<<<<<<< HEAD
    height: 100vh;
=======
    height: 97vh;
>>>>>>> origin/ouma
    background-color: #F9F7F7;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
  