.dashboard-container {
    display: flex;
<<<<<<< HEAD
    height: 100vh;
=======
    height: 97vh;
>>>>>>> origin/ouma
    background-color: #F9F7F7;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }
<<<<<<< HEAD
=======
  .admin-greeting {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
   
    margin-left: 90px;
    
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }
>>>>>>> origin/ouma
  