<body class="container">
  <div class="left-section">
    <div class="forgot-password-container">
      <h1>Mot de passe oublié</h1>

      <p>Veuillez entrer votre adresse e-mail pour recevoir un code de vérification.</p>

      <!-- Formulaire d'envoi d'email -->
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input 
            type="email" 
            formControlName="email" 
            placeholder="***@enicar.ucar.tn"
            required
          >
        </div>

        <button 
          type="submit" 
          class="btn-send"
          [disabled]="!forgotPasswordForm.valid || isSubmitting"
        >
          Envoyer
        </button>
      </form>

      <!-- Section de vérification du code -->
      <div *ngIf="showVerificationCode" class="verification-section">
        <form [formGroup]="verificationForm">
          <div class="form-group">
            <input
              type="text"
              formControlName="verificationCode"
              placeholder="Code de vérification"
              required
            />
          </div>

          <button
            type="button"
            class="btn-verify"
            [disabled]="!verificationCode?.valid || isVerifying"
            (click)="verifyCode()"
          >
            Vérifier
          </button>
        </form>
      </div>

    </div>
    <div *ngIf="successMessage" class="alert alert-success custom-alert">
      {{ successMessage }}
    </div>
    
    <div *ngIf="errorMessage" class="alert alert-danger custom-alert">
      {{ errorMessage }}
    </div>
    
  </div>

  <div class="illustration">
    <img src="../../assets/pswd.png" alt="Illustration" />
  </div>
</body>
