<div class="notes-container">
  <h2 class="title">Ajout d'une note</h2>
  
  <div class="filters">
    <select [(ngModel)]="selectedMatiere" class="dropdown">
      <option value="" disabled selected >Session</option>
      <option *ngFor="let session of sessions" [value]="session">{{ session }}</option>
    </select>
    <select [(ngModel)]="selectedMatiere" class="dropdown">
      <option value="" disabled selected>Section</option>
      <option *ngFor="let section of sections" [value]="section">{{ section}}</option>
    </select>
    <select [(ngModel)]="selectedMatiere" class="dropdown">
      <option value="" disabled selected>Module</option>
      <option *ngFor="let module of modules" [value]="module">{{ module }}</option>
    </select>
    <select [(ngModel)]="selectedMatiere" class="dropdown">
      <option value="" disabled selected>Semestre</option>
      <option *ngFor="let semestre of semestres" [value]="semestre">{{ semestre }}</option>
    </select>   
    <select [(ngModel)]="selectedMatiere" class="dropdown">
      <option value="" disabled selected>Matière</option>
      <option *ngFor="let matiere of matieres" [value]="matiere">{{ matiere }}</option>
    </select>
    <select [(ngModel)]="selectedTypeDevoir" class="dropdown">
      <option value="" disabled selected>Type devoir</option>
      <option value="DS">DS</option>
      <option value="Examen">Examen</option>
    </select>
  </div>

  <div class="import-buttons">
    <!-- Bouton toujours affiché -->
    <button class="import-button">Importer PDF des notes</button>

    <!-- Bouton affiché uniquement si le type de devoir est "Examen" -->
    <button class="import-button" *ngIf="isExamen()">Importer le drive des PDFs des examens</button>
  </div>

  <table class="notes-table">
    <thead>
      <tr>
        <th>N°</th>
        <th>CIN</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.num }}</td>
        <td>{{ student.cin }}</td>
        <td>{{ student.nom }}</td>
        <td>{{ student.prenom }}</td>
        <td>{{ student.note }}</td>
      </tr>
    </tbody>
  </table>

  <button class="validate-button">Valider</button>
</div>
