.notes-container {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 22px;
  color: teal;
<<<<<<< HEAD
  font-style: italic;
  margin-bottom: 20px;
=======
  
  margin-bottom: 35px;
>>>>>>> origin/ouma
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
<<<<<<< HEAD
  margin-bottom: 20px;
}

.dropdown {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
=======
  
  margin-bottom: 20px;
}


>>>>>>> origin/ouma

.import-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.import-button {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.import-button:hover {
  background-color: darkcyan;
}

.notes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.notes-table th,
.notes-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.notes-table th {
  background-color: #f4f4f4;
}

.validate-button {
<<<<<<< HEAD
  background-color: green;
=======
  background-color: darkcyan;
>>>>>>> origin/ouma
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.validate-button:hover {
  background-color: darkgreen;
}
<<<<<<< HEAD
=======

/* Styling for the label */


/* Styling for the select element */
.dropdown {
  background-color: #f9f9f9; /* Light grey background */
  border: 2px solid darkcyan; /* Dark cyan border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding for better spacing */
  font-size: 14px; /* Font size for readability */
  color: #333; /* Text color */
  width: 130px; /* Set width */
 
 
  cursor: pointer; /* Pointer cursor for interaction */
  transition: all 0.3s ease; /* Smooth transition for focus and hover effects */
}

>>>>>>> origin/ouma
