table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  div{
   
    border-radius: 10px;
    height: 90%;
  }
  h2{
    color: darkcyan;
  }